.NavbarItems{
    background-color:#42855B ;
    height:80px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    font-size:1.2rem;
    text-decoration: none;

}
.menu-icon{
display:flex;
justify-content:center;
align-items:center;
}
.navbar-menu{
   list-style: none;
  display:grid;
  grid-template-columns:repeat(5,auto);
  grid-gap:10px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin-right: 2rem;
  justify-content:center;
  align-items:center;


}
.nav-links{
    color:#000;
    text-decoration: none;
    padding:.5rem
} 
.cartW{
    list-style: none;
    display:flex;
    text-align: center;
 
    
}
.nav-links:hover{
    color:#C4DFAA;
}
.cart-header-logo{
    color: #000;
    width: 40px;
    height: 40px;
    text-align: center;
}